<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script type = "text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

</head>
<body>
<div class = "nav" style="background: darkgray" >
    <h4 class="logo" >
        <a href = "/" style="color: #ffffff;margin-left: 15px">Notice-blog</a>
        <span th:if="${user} != 'null'" th:text="${user}+'님 환영합니다.'" style="color: #ffffff;margin-left: 20px"></span>
        <a th:if="${user} == 'null'" id="login-text" href="/user/login" style="float: right;color: #ffffff;margin-right: 15px">
            로그인
        </a>
        <a th:if="${user} != 'null'" id="logout-text" href="/user/logout" style="float: right;color: #ffffff;margin-right: 15px">
            로그아웃
        </a>
    </h4>

</div>
<div class="container">


    <h2>게시글 상세페이지</h2>

    <br>
    <div class="form-group"><label>작성자 :  </label><span th:text="${blog.user.username}"></span></div>
    <div class="form-group"><label>제목 :  </label><span th:text="${blog.title}"></span></div>

    <div class="form-group">
        <label for="tt">내용</label>
        <p id="tt" class="form-control" rows="6" th:text="${blog.text}" ></p>
    </div>

    <div id="blogedit" style="display: none">
        <button th:id="${blog.id}+editblog" class="btn btn-primary">수정하기</button>
        <form action="#" th:action="@{/api/blogs/}+${blog.id}" method="post" th:onsubmit="return removecheck([[${blog.id}]])" style="display: inline">

            <input type="submit" class="btn btn-primary" value="삭제하기">
            <input type="hidden" name="_method" value="delete"/>
        </form>
    </div>
    <br>

    <!--    댓글 작성-->
    <form action="#" th:action="@{/api/blogs/}+${blog.id}+@{/comment}" onsubmit="return check1()" method="post" th:object="${postcomment}">
        <label>댓글</label>
        <textarea id="txt" rows="5" th:field = "*{text}" class="form-control"></textarea>
        <br>
        <input type="submit" class="btn btn-primary" value="댓글작성">
    </form>
    <br>

    <!--    댓글-->
    <div th:each="comment : ${comment}" name="fr"  class="table table-striped text-center" style="border: solid;padding: 7px">
        <label style="float:left;margin-left: 10px">작성자 :</label>
        <label >내용</label>
        <p th:text="${comment.user.username}" style="display: inline;float: left;margin-left: 5px"></p>
        <p th:id="${comment.id}+text" th:text="${comment.text}" ></p>
        <div style="margin-left: 100px">
            <button th:if="${comment.user.username} == ${user}" th:id="${comment.id}+editComment" class="btn btn-primary" th:onclick=editPost([[${comment.id}]]) >수정</button>

            <!--            댓글 삭제-->
            <form th:if="${comment.user.username} == ${user}" action="#" th:action="@{/api/blogs/}+${blog.id}+@{/comment/}+${comment.id}" method="post" th:onsubmit="return removecheck([[${comment.id}]])" style="display: inline">
                <input type="submit" th:id="${comment.id}+removeComment" class="btn btn-primary" value="삭제" >
                <input type="hidden" name="_method" value="delete"/>
            </form>
        </div>


        <!--        댓글 수정-->
        <form action="#" th:action="@{/api/blogs/}+${blog.id}+@{/comment/}+${comment.id}" th:onsubmit="return check2([[${comment.id}]])" method="post" th:object="${editcomment}" >
            <div th:id="${comment.id}+editdiv" style="display:none;">
                <input th:id="${comment.id}+editinput" type="text"  th:field = "*{text}" th:value="${comment.text}">
            </div>
            <div th:id="${comment.id}+submit" style="display:none;">
                <input  type="submit" class="btn btn-primary" value="제출" >
                <input type="button"  class="btn btn-primary" th:onclick="returnPost([[${comment.id}]])" value="취소">
            </div>

            <input type="hidden" name="_method" value="put"/>
        </form>



    </div>


</div>

<script>
    function editPost(id){
        $(`#${id}editdiv`).show();
        $(`#${id}submit`).show();
        $(`#${id}text`).hide();
        $(`#${id}removeComment`).hide();
        $(`#${id}editComment`).hide();
        let text = $(`#${id}text`).text();
        $(`#${id}editinput`).val(text);
    }

    function returnPost(id){
        $(`#${id}editdiv`).hide();
        $(`#${id}submit`).hide();

        $(`#${id}text`).show();
        $(`#${id}removeComment`).show();
        $(`#${id}editComment`).show();
    }

    function check1(){
        var txt =document.getElementById('txt').value;
        var user = '[[${user}]]'
        if(txt === ""){
            alert("댓글을 입력해주세요.");
            return false;
        }
        if (user == "null"){
            alert("로그인을 해야합니다.")
            window.location.replace("/user/login")
            return false
        }
        return true;
    }

    function check2(id){

        var txt =document.getElementById(id+'editinput').value;
        if(txt === ""){
            alert("댓글을 입력해주세요.");
            return false;
        }
        return true;
    }

    function removecheck(id){
        if(confirm("정말로 삭제하시겠습니까?")){
            return true;
        }else{
            return false;
        }

    }

    $('#[[${blog.id}]]edit').click(
        function(event) {
            var blogId = "[[${blog.id}]]";
            window.location.replace('/api/blogs/'+ blogId+'/edit');

        })

    $(document).ready(function(){
        var user = '[[${user}]]'
        var bloguser = '[[${blog.user.username}]]'
        if(user == 'null'){
            console.log(user)

        }else{
            console.log(user)
            console.log(bloguser)
            if(user == bloguser){
                $(`#blogedit`).show();
            }


        }
    });


</script>
</body>
</html>